doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1, maximum-scale=1"
      name="viewport"
    )
    meta(content="ie=edge" http-equiv="X-UA-Compatible")

    meta(content="#603cba" name="msapplication-TileColor")
    meta(content="#ffffff" name="theme-color")

    block basicSeo
      meta(content="Bellos" name="description")
      meta(content="Bellos" name="keywords")
      meta(content="tori-vlsv" name="author")

    meta(content="summary" name="twitter:card")
    meta(content="Bellos" name="twitter:description")
    meta(content="Bellos" name="twitter:image")

    meta(content="Bellos" property="og:title")
    meta(content="Bellos" property="og:description")
    meta(content="Bellos" property="og:image")

    link(
      href="/assets/images/favicons/apple-touch-icon.png"
      rel="apple-touch-icon"
      sizes="76x76"
    )
    link(
      href="/assets/images/favicons/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
      type="image/png"
    )
    link(
      href="/assets/images/favicons/favicon-16x16.png"
      rel="icon"
      sizes="16x16"
      type="image/png"
    )
    link(href="/assets/images/favicons/favicon.ico" rel="shortcut icon")
    link(
      color="#5bbad5"
      href="/assets/images/favicons/safari-pinned-tab.svg"
      rel="mask-icon"
    )

    block title
      title Bellos | Страница без названия

    block manifestBrowserconfigFiles
      link(href="./manifest.json" rel="manifest" crossorigin)
      meta(content="./browserconfig.xml" name="msapplication-config")

    script.
      function autorun() {}
      if (window.addEventListener) window.addEventListener("load", autorun, false);
      else window.onload = autorun;
    noscript.
      Похоже у вас отключён Javascript, поэтому вы видете это сообщение.

  body
    .render

    include ../components/header.pug

    block content

    include ../components/footer.pug

    block js