header.header
  .wrapper
    .header__wrapper
      .header__left
        a.header__logo(href="/")
          img(src="/assets/images/logo.svg" alt="logo")
        nav.header__menu
          a.header__link(href="#") О компании
          a.header__link(href="#") Бренды
          a.header__link(href="#") Акции
          a.header__link(href="#") Контакты
      .header__mobmenu
        img(src="/assets/images/header-menu.svg" alt="header-menu")
      .header__right
        .header__socials
          a.header__social(href="https://wa.me/XXXXXXXXXXX")
            |
            img.header__icon(
              src="/assets/images/header-wa.svg"
              alt="header-wa"
            )
          a.header__social(href="https://t.me/XXXXXXXXXXX")
            img.header__icon(
              src="/assets/images/header-tg.svg"
              alt="header-tg"
            )
        button.header__login(type="button")
          img.header__icon(
            src="/assets/images/header-login.svg"
            alt="header-login"
          )
          .header__username Имя пользователя